**/*.wasm
*.wasm
result
results
result_only2
tcs
tcs_v128
stack_data
*_err_log
temp_data
diff_tcs
__pycache__
__pycache__/*
__pycache__/**
tt
diff_tcs*
diff_tcs*/**
time_predictor
time_predictor/**
tmp/*
except_dir
ori_tcs
mutate_tcs
special_tcs
v1_main_script
tcs_v5
tcs_v4
tool_test/*
